@use '../../App.scss';

.EmergencyPhone {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 0.5rem;
}

.EmergencyTitle {
	margin-left: 0.5rem;
	font-size: medium;
	font-weight: bold;
	display: inline;
}

.AppBarBackground {
	backdrop-filter: blur(8px);
}

.SideBarListItemButton {
	min-height: 48px;
	padding: 0 3.5px;
	justify-content: initial;
}

.SideBarListItemIcon {
	min-width: 0;
	justify-content: center;
	margin-right: 0 !important;
}
