.Font-Family-Extra-Light {
	font-family: 'Montserrat', sans-serif !important;
	font-style: normal !important;
	font-weight: 400 !important;
}

.Font-Family-Light {
	font-family: 'Montserrat', sans-serif !important;
	font-style: normal !important;
	font-weight: 500 !important;
}

.Font-Family-Medium {
	font-family: 'Montserrat', sans-serif !important;
	font-style: normal !important;
	font-weight: 600 !important;
}

.Font-Family-Bold {
	font-family: 'Montserrat', sans-serif !important;
	font-style: normal !important;
	font-weight: 700 !important;
}

.Text-Center {
	text-align: center;
}

.Display-Block {
	display: block;
}

.Display-Flex {
	display: flex;
}

.Cursor-Pointer {
	cursor: pointer;
}

.Flex-Grow {
	flex-grow: 1;
}

.Text-Decoration-None {
	text-decoration: none;
}
